h1, h2, h3, h4, h5, h6 {font-family: Cunia, AliHYAiHei, AliHYAiHei-Beta, 阿里汉仪智能黑体;}

/* MTT template */

/*
html {
  background-color: #f5f5f5;
  font-family: Eurostile, Optima, Helvetica;
}
blockquote, q { font-family: Skia; }
blockquote, small { font-size: 0.6em; }
pre code.hljs { background-color: rgba(255,255,255,.8); border-radius: 1vw; }
body {
  color: #444;
  text-shadow: 0 0 0.25em #ccc;
}
body[has-bg] {
  color: white;
  text-shadow: 0 0 0.5em black;
}
body:not([has-bg]) {
  background:
    url(http://gtms01.alicdn.com/tps/i1/TB100UiHpXXXXXBXFXXdOmvGFXX-159-86.png) no-repeat right bottom,
    url(http://gtms02.alicdn.com/tps/i2/TB1oHsgHpXXXXbaXVXXPpJc4pXX-720-29.png) no-repeat top;
  background-size: auto, contain;
}
body.cover:not([has-bg]) {
  background:
    url(http://gtms01.alicdn.com/tps/i1/TB100UiHpXXXXXBXFXXdOmvGFXX-159-86.png) no-repeat right bottom,
    url(http://gtms04.alicdn.com/tps/i4/TB1vS3jHpXXXXbGXpXXfHdsOVXX-720-286.png) no-repeat top,
    url(http://gtms01.alicdn.com/tps/i1/TB1r1ImHpXXXXa2XXXX9Q0cOVXX-720-202.png) no-repeat bottom;
  background-size: auto, contain, contain;
}
*/


/* Weex template */

/*
html {background-color: white;}
body {
  color: #333;
  text-shadow: 0 0 5px #ccc;
  -webkit-print-color-adjust: exact;
  -webkit-filter: opacity(1);
}
body[has-bg],
body.cover:not([has-bg]) {
  color: white;
  text-shadow: 0 0 5px black;
  -webkit-print-color-adjust: exact;
  -webkit-filter: opacity(1);
}
body:not([has-bg]) {
  background:
    url(http://old.dev.weex.io/img/weex_logo_blue@3x.png) no-repeat 95% 95%,
    url(../../playground/weex-css/nav_background_normal.jpg) no-repeat center top;
  background-size: auto, 100% 15%;
}
body.cover:not([has-bg]) {
  background: url(../../playground/osc2016/nav_background.jpg) no-repeat;
  background-size: cover;
}
*/

/* WeexConf template */

/*
html {background-color: white;}
body {
  color: white;
  text-shadow: 0 0 3px black;
  font-family: Helvetica;
}
body[has-bg],
body.cover:not([has-bg]) {
  color: white;
  text-shadow: 0 0 3px black;
}
body:not([has-bg]) {
  background: black;
}
body:not(.cover):not([has-bg])::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  height: 3px;
  background-color: white;
}
body.cover:not([has-bg]) {
  background: url(../../playground/weex-web/bg.png);
  background-size: cover;
}

h1,h2,h3,h4 {color: #20BEFC;}
*/

/* OSC template */

/*
html {background-color: #333;}
body {
  color: #eee;
  text-shadow: 0 0 1rem #333;
}
body[has-bg] {
  color: white;
}
body:not([has-bg]) {
  background: url(../../playground/osc2016-beijing/osc-normal.png) no-repeat;
  background-size: cover;
}
body.cover:not([has-bg]) {
  background: url(../../playground/osc2016-beijing/osc-cover.png) no-repeat;
  background-size: cover;
}
blockquote {background-color: rgba(255, 255, 255, 0.8); color: #666; border-radius: 0.5rem; text-shadow: none;}
*/
